@mixin box-bagraund-shadow {
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);
    background-color: $box-background-color;
}

@mixin shape-background($backgroundcolor) {
    color: $backgroundcolor;
}

@mixin box-background-style{

}