$page-background-color: #141b1c;
$box-background-color: #334247;
$box-background-color-blue: #3a6ba5;
$box-background-color-orange: #ec632a;
$text-color-white: #ffffff;
$text-color-green: #5bb189;
$list-background-color: #2a343880;
